<!-- <html>
  <head></head>
  <body>
    <p>
      <mat-toolbar color="primary">
        <span>My Application</span>
      </mat-toolbar>
    </p>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </body>
</html> -->

<mat-toolbar color="primary">
  <button mat-icon-button color="basic" aria-label="Menu"(click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Application</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav-content">
    <button mat-button class="sidenav-btn" routerLink="/">Home</button>
    <button mat-button class="sidenav-btn" routerLink="/login">Login</button>
  </mat-sidenav>

  <mat-sidenav-content class="app-container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>